[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs/packages/sensible-defaults.el"]
	path = emacs/packages/sensible-defaults.el
	url = https://github.com/hrs/sensible-defaults.el
